/*========================== Task 3 ===================================*/
#gallery {
    display: flex;
}
#gallery li {
    list-style: none;
}
#gallery li img{
    width: 600px;
    height: 400px;
}
#gallery li:not(:last-child) {
    margin-right: 20px;
}
/*=====================================================================*/

/*========================= Task 6 ====================================*/
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
/*=====================================================================*/